.overview-border{
    margin-top: 50px;
}

.variables-row{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.corr-row{
    margin-top:50px;
    padding: 20px;
}

.eda-row{
    margin-top:50px;
    padding: 20px;
    justify-content: center;
}

.center-items{
    align-items: center;
    text-align: center;
    margin: auto;
}