.overview-border{
    margin-top: 50px;
}

.variables-row{
    text-align: center;
    padding: 10px;
    padding-top:20px;
}

.var_overview_row{
    margin-top:20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.corr-row{
    margin-top:50px;
    padding: 20px;
}

.eda-row{
    margin-top:50px;
    padding: 20px;
    justify-content: center;
    align-items:center;
}

.data_dict_accor{
    background-color: rgb(155,171,189);
    text-emphasis: 10px;
    margin-bottom: 50px;
}

.eda_tabs{
    margin-top:50px;
}

.center-items{
    align-items: center;
    text-align: center;
    margin: auto;
}